<section ng-controller="WelcomeCtrl as vm">

	<h1>Welcome</h1>

	<form ng-submit="vm.welcome()">
		<div class="form-group">
			<label>Firstname</label>
			<input ng-model="vm.firstname" type="text" class="form-control" placeholder="Your firstname"  />
		</div>
		<div class="form-group">
			<label>Lastname</label>
			<input ng-model="vm.lastname" type="text" class="form-control" placeholder="Your lastname" />
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>

</section>